{
  "extends": [
  	"stylelint-config-sass-guidelines",
  	"stylelint-config-rational-order"
  ],
  "rules": {
  	"order/properties-alphabetical-order": null,
    "string-quotes": null,
    "scss/selector-no-redundant-nesting-selector": null,
    "property-no-vendor-prefix": null,
    "max-nesting-depth": 4
  }
}
